@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 100%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  top: 0;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.model_content {
  position: absolute;
  width: 500px;
  text-align: center;
  background-color: black;
  top: 30%;
  left: 30%;
}

.alert {
  color: white;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
  padding: 5px 20px;
  background-color: rgb(85, 83, 83);
  margin: 0 0 20px;
}

.modal span {
  word-wrap: break-word;
}

.modal .modal_btn {
  padding: 20px 0 20px;
}

body {
  background-image: url(../image/background.jpg);
  background-size: cover;
  background-attachment: fixed;
} 

.male::before {
  font-family: "Font Awesome 5 Free";
  content: "\f183";
  padding-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

.female::before {
  font-family: "Font Awesome 5 Free";
  content: "\f182";
  padding-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

button {
  border: none;
  padding: 15px 30px;
  margin-right: 10px;
  color: #2196f3;
  font-weight: 600;
  background: none;
  text-transform: capitalize;
  transition: 0.5s;
}

#list {
  display: none;
}

button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

span {
  color: white;
  font-weight: 600;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

ul li {
  color: white;
  flex-basis: 150px;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
  width: 60px;
  word-wrap: break-word;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: #2196f3;
}

.gender-radio-btn {
  display: flex;
}

.table-head li {
  font-weight: 600;
}

section {
  margin: 30px;
  padding: 30px;
  background-color: rgba(1,8,26,0.8);
  text-transform: capitalize;
  opacity: 0;
  box-shadow: 0 3px 10px rgb(0,0,0);
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

#term-condition {
  color: white;
  font-weight: 600;
}

#gender {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#first-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#last-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
 
.form {
  margin-left: auto;
  margin-right: auto; 
  width: 500px;
}

#gender span {
  flex: 1;
}

.gender-radio-btn {
  flex: 1;
}

#first-name span, #last-name span, #address span{
  flex: 1;
}

#first-name input, #last-name input, #address input{
  flex: 1;
}

#address input {
  height: 50px;
}

#btn, .sort {
  margin-top: 10px;
  text-align: center;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}

@media (max-width: 768px) {
  span {
    font-size: 11px;
  }

  #term-condition {
    font-size: 11px;
  }

  ul li {
    font-size: 7px;
    flex-basis: 50px;
    width: 30px;
  }

  ul li button {
    font-size: 5px;
    padding: 5px;
  }

  .form {
     width: 300px;
  }
}